# Custom
_archive*
_ignore*
/temp

# Default
__pycache__/
_dev/
.idea/
build/
dev/
dist/
env/
ignored/
output/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Tableau
*.twbr

# R
*.Rproj
*.Rproj.user
*.Rhistory
*.RData*
*.Ruserdata
.Rproj.user
